.footer {
  background-color: black;
  color: #fff;
  padding: 40px;
  
}

.social-icons {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.social-icons h3 {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  align-items: centre;
}

.icon-group {
  display: flex;
  align-items: center;
}

.icon-group a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
}

.footer-links,
.contact-info,
.signature {
  margin-top: 0px;
}

.footer-links h3,
.contact-info h3,
.signature span {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  
}

.link-group {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.link-icon {
  font-size: 18px;
  margin-right: 10px;
}

.link {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
}

.contact-info p {
  margin: 5px 0;
  float: left;
}
