  .homepage {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: black; 
    padding: 50px; 
  }
  
  .homepage-header {
    text-align: left; 
    
  }
  .header {
    font-size: 82px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: whitesmoke;
    animation: fadeIn 0.5s linear both;
  }
  .paragraph{
    text-align: left;
    color: whitesmoke; 
    font-size: 20px;
  }
  .carousel-container {
    width: 150%; 
    max-width: 1000px; 
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px; 
  }
  .carousel-container .slick-slide img {
    width: auto;
    max-height: 400px; 
    border-radius: 40px;
  }
  .carousel-container .slick-slide {
    position: relative;
  }
  .carousel-container .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  .carousel-container .slick-slide .recipe-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:white;
    padding: 10px;
    border-radius: 0 0 20px 20px;
  }
  .carousel-container .slick-slide .recipe-info h2,
  .carousel-container .slick-slide .recipe-info p {
    margin: 0;
    color: #fff;
    font-weight: bold;
  }
  .carousel-container .slick-slide .recipe-info h2 {
    font-size: 24px;
  }
  .carousel-container .slick-slide .recipe-info p {
    font-size: 16px;
  }
  .buttons-container {
    margin-top: 20px;
  }
  
  .button-primary,
  .button-secondary {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .button-primary {
    background-color: #FF6347;
    color: #fff;
  }
  
  .button-secondary {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .button-primary:hover,
  .button-secondary:hover {
    opacity: 0.8;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  