.Navcontainer {
  display: flex;
  align-items: center;
  border: 1px solid hsl(0, 5%, 70%);
  width: auto;
  padding: 20px;
  background-color: whitesmoke;
  color: rgb(140, 38, 17);
  justify-content: space-between;
  text-decoration: none;
}

.icon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

h1 {
  margin-right: auto;
}

.navbar {
  font-size: x-large;
  font-style: italic;
  color: rgb(140, 38, 17);
}

.Iconcontainer {
  display: flex;
  align-items: center;
}

.ButtonsDiv {
  display: flex;
  justify-content: space-between;
}

.nav {
  display: flex;
  justify-content: center;
}

.Navbutton {
  margin-left: 10px;
}

.app {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.recipe-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 3px;
  text-align: center;
  height: 550px;
  display: flex;
  flex-direction: column;
  
  
}
.text {
  color: black;
  text-decoration: none;
  font-style: italic;
  padding: 5px;
  height:150px;
}
.btn btn-primary{
  margin-top: auto;
}

.recipe-card img {
  height: 70%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

}
.recipe-card:hover {
  transform: translateY(+10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.recipe-card button:hover {
  background-color: #101820;
}

.recipe-card h2 {
  margin: 5px 0;
}

.recipe-card p {
  font-style: italic;
}
.image {
  width: 100px;
  height: 100px;
}
.button1 {
  background-color: rgb(140, 38, 17);
}

.sort-bar label {
  margin-right: 15px;
}

.sort-bar select {
  padding: 5px;
  border: 7px solid #8a4d4d;
  border-radius: 15px;
}
.spacing {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
.navbar.bg-body-tertiary {
  background-color: #a6c2a5;
  color: #447537;
  padding: 2px;
  display: flex;
  justify-content: center;
}
